/*
    Globals
*/
* {
    box-sizing: border-box !important;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1f497d;
    padding: 0;
    margin: 0;
    font-size: 12pt;
}
.float-right {
    float: right;
}

/*
    Widgets
*/
div.widget-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 4px;
}
div.dummy {
    margin-top: 100%;
}
div.widget {
    width: 100%;
    display: inline-block;
    position: relative;
    content: " ";
}
div.widget.small {
    width: 49%;
}
div.widget-content {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f2f2f2;
    border: 2px solid black;
    padding: 8px;
    margin: 4px;
}
div.widget-content h2 {
    margin-top: 2px;
}
div.widget-content:after {
    display: block;
    clear: both;
    content: " ";
}
div.widget.small div.widget-content {
    position: absolute;
    display: block;
    flex-direction: row;
    align-items: center;
}
div.widget-header {
    position: absolute;
    right: 15px;
}
div.widget-header a i {
    color: #000;
}
div.widget.small div.widget-content div {
    display: table;
    margin: 0 auto;
    color: black;
    height: 100%;
}
div.widget.small div.widget-content div span {
    display: table-cell;
    vertical-align: middle;
}
div.widget-content img {
    display: block;
    max-width: 100%;
    padding: 10px 0px;
}
div.widget-content div.message {
    height: 3em;
    border: 1px solid #CCC;
    margin: 10px 0;
    padding-left: 10px;
    line-height: 3em;
    color: #4B4;
    background: rgba(128,255,128,0.3);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
div.widget-content div.message i {
    margin-right: 8px;
}
div.widget-content div.message i.fa-warning {
    display: none;
}
div.widget-content div.message.warn {
    color: #B44;
    background: rgba(255,128,128,0.3);
}
div.widget-content div.message.warn i.fa-warning {
    display: inline;
}
div.widget-content div.message.warn i.fa-info-circle {
    display: none;
}

/*
    Forms
*/
div.form-row {
    width: 100%;
    height: 3em;
    border: 1px solid #CCC;
    margin: 10px 0;
    background: rgba(255,255,255,1.0);
    clear: both;
}
div.form-row label {
    /*display: inline-block;*/
    width: 30%;
    /*padding-right: 10px;*/
    /*text-align: right;*/
    line-height: 3em;
    font-weight: bold;
    overflow: hidden;
    padding: 0px 10px 0px 10px;
    float: left;
    white-space: nowrap;
}
div.form-row .large {
    /*line-height: 3em;*/
    width: 78%;
    /*text-align: left;*/
    padding-left: 10px;
    /*float: left;*/
}
input, select, button {
    height: 3em;
    max-height: 100%;
    border: none;
    font-size: 1em;
    line-height: 100%;
    width: 70%;
    padding-top: 4px; /* line-height fix */
}
button {
    width: auto;
}
select {
    /*display: block;*/
    /*position: relative;*/
    /*right: 0;*/
    /*content: " ";*/
    background: transparent url("../img/br_down.png") no-repeat right center;
}
select.small {
    width: 48%;
    padding-top: 2px; /* line-height fix */
}
div.form-row button {
    max-width: 20%;
    float: right;
    border-radius: 0;
}
button {
    /*border-radius: 6px;*/
    min-width: 4em;
    padding: 0 20px;
    font-weight: bold;
}
button.orange {
    /*background: #e3a730;*/
    background: #FB4;
    color: white;
}
button.green {
    /*background: #209923;*/
    background: #4B4;
    color: white;
}
button.red {
    /*background: #8f1321;*/
    background: #A65;
    color: white;
}