<div class="widget-container">
    <div class="widget small">
        <div class="dummy"></div>
        <div class="widget-content" ng-click="go('/upload/capture')">
            <div>
                <span><i class="fa fa-camera fa-4x"/></span></i>
            </div>
        </div>
    </div>
    <div class="widget small">
        <div class="dummy"></div>
        <div class="widget-content" ng-click="go('/upload/gallery')">
            <div>
                <span><i class="fa fa-picture-o fa-4x"/></span>
            </div>
        </div>
    </div>
    <div class="widget small">
        <div class="dummy"></div>
        <div class="widget-content" ng-click="go('/edit')">
            <div>
                <span><i class="fa fa-pencil-square-o fa-4x"/><span>
            </div>
        </div>
    </div>
    <div class="widget small">
        <div class="dummy"></div>
        <div class="widget-content" ng-click="go('settings')">
            <div>
                <span><i class="fa fa-cog fa-4x"/></span>
            </div>
        </div>
    </div>
</div>