<polymer-element name="workspace-layout-single" extends="workspace-layout-base">
    <template>
        <app-globals id="globals"></app-globals>
        <style>
            .widget {
                float: left;
                margin: 5px;
                padding: 5px;
                width: 350px;
                height: 200px;
                border: 2px dotted black;
            }

            #mainWorkspace {
                float: left;
                width: 100%;
                height: 600px;
                margin: 5px;
                padding: 5px;
                border: 2px dotted black;
            }
        </style>
        <div id="header"></div>
        <div id="mainWorkspace"></div>
        <div id="footer"></div>
    </template>
    <script>
        Polymer({
            ready: function () {
                console.log('workspace-layout single is ready.');
            }
        });
    </script>
</polymer-element>