<polymer-element name="workspace-layout-single" extends="app-layout">
    <template>
        <app-globals id="globals"></app-globals>
        <style>
            #container {
                text-align: center;
            }

            #mainWorkspace {
                margin: 1em auto;
                display: inline-block;
                text-align: left;
            }
        </style>
        <div id="container">
            <div id="header"></div>
            <div id="mainWorkspace"></div>
            <div id="footer"></div>
        </div>
    </template>
    <script>
        Polymer({
            ready: function () {
                console.log('workspace-layout single is ready.');
            }
        });
    </script>
</polymer-element>