<polymer-element name="workspace-layout-touchwall" extends="app-layout">
    <template>
        <app-globals id="globals"></app-globals>
        <style>
            #container {
                margin: 5px;
            }
            .widget {
                float: left;
                margin: 5px;
                width: 350px;
                height: 200px;
            }

            #mainWorkspace {
                width: calc(100% - 10px);
                height: 600px;
                margin: 5px;
                overflow: hidden;
            }
        </style>
        <div id="container">
            <div id="header"></div>
            <div class="widget" id="widget1"></div>
            <div class="widget" id="widget2"></div>
            <div class="widget" id="widget3"></div>
            <div id="mainWorkspace"></div>
            <div id="footer"></div>
        </div>
    </template>
    <script>
        Polymer({
            ready: function () {
                console.log('workspace-layout touchwall is ready.');
            }
        });
    </script>
</polymer-element>