<link rel="import" href="../elements/app-layout.html">
<link rel="import" href="../elements/awall-menu.html">

<polymer-element name="layout-workspace" extends="app-layout">
    <template>
        <style>
            #container {
                display: flex;
                flex-direction: column;
            }

            header, footer {
                color: white;
                padding: 1em;
                background-color: #000000;
            }

            header {
                display: none;
            }

            footer {
                position: fixed;
                Width: 100%;
                bottom: 0;
                height: 2em;
                z-index: 200;
            }

            #body {
                flex: 1;
                padding: 0.3em;
                display: flex;
                flex-direction: column;
                margin-bottom: 4em;
            }

            #widgets {
                display: flex;
            }

            .widgetDropzone {
                flex: 1 1 10%;
                margin-right: 0.3em;
                margin-bottom: 0.3em;
                height: 13em;
                box-sizing: border-box;
                position: relative;
            }

            @media only screen and (max-height: 40rem) {
                .widgetDropzone {
                    height: 3.5em;
                }
            }

            #widgetmain {
                position: relative;
                height: 100%;
                width: 100%;
            }

            .hidden {
                display: none;
            }

            a {
                color: white;
                padding: 0 1em;
            }
        </style>
        <div id="container">
            <header>HEADER</header>
            <div id="body">
                <div id="widgets">
                    <div class="widgetDropzone hidden" id="widgetDropzone1"></div>
                    <div class="widgetDropzone hidden" id="widgetDropzone2"></div>
                    <div class="widgetDropzone hidden" id="widgetDropzone3"></div>
                    <div class="widgetDropzone hidden" id="widgetDropzone4"></div>
                    <div class="widgetDropzone hidden" id="widgetDropzone5"></div>
                    <div class="widgetDropzone hidden" id="widgetDropzone6"></div>
                    <div class="widgetDropzone hidden" id="widgetDropzone7"></div>
                    <div class="widgetDropzone hidden" id="widgetDropzone8"></div>
                    <div class="widgetDropzone hidden" id="widgetDropzone9"></div>
                    <div class="widgetDropzone hidden" id="widgetDropzone10"></div>
                    <awall-menu id="menu"></awall-menu>
                </div>
                <div id="widgetDropzonemain"></div>
            </div>

            <template if="{{!$.globals.isSmallScreenHeight}}">
                <footer>
                    <template repeat="{{workspace in $.globals.workspaces}}">
                        <a href="{{workspace.parsedPath}}">
                            {{workspace.name}}
                        </a>
                    </template>
                </footer>
            </template>
        </div>
        <app-core id="globals"></app-core>
    </template>
    <script>
        (function () {

            /**
             * Represents a widget dropzone.
             */
            function WidgetDropzone(position, dropzoneElement) {
                this.position = position;
                this.dropzoneElement = dropzoneElement;
                this.activeWidget = null;

                var createContainer = function (id) {
                    var container = document.createElement('div');
                    container.setAttribute('id', id);
                    this.dropzoneElement.appendChild(container);
                    return container;
                }.bind(this);

                this.floatingContainer = createContainer('floatingContainer' + this.position);
                this.activeContainer = createContainer('activeContainer' + this.position);
                this.activeContainer.style.height = '100%';
            }

            WidgetDropzone.prototype.hide = function () {
                this.dropzoneElement.classList.add('hidden');
            };

            WidgetDropzone.prototype.show = function () {
                this.dropzoneElement.classList.remove('hidden');
            };

            WidgetDropzone.prototype.addActive = function (widget) {
                var widgetContainerId = 'widgetContainer_' + widget.id;

                if (widget.view.id != widgetContainerId) {
                    // create container with shadow root and add the view
                    var container = document.createElement('div');
                    container.setAttribute('id', widgetContainerId);
                    var root = container.createShadowRoot();
                    container.style.height = '100%';
                    var widgetView = document.importNode(widget.view, true);
                    root.appendChild(widgetView);
                    widget.view = container;

                    // set widget as attribute to the draggable with id='widget'
                    var shadowRoot = root.children[0].shadowRoot;
                    var widgetElement = shadowRoot.getElementById('widget');
                    if (!widgetElement) {
                        // awall-widget is used in another enclosing element.
                        widgetElement = shadowRoot.querySelectorAll('awall-widget')[0].shadowRoot.getElementById('widget');
                    }
                    if (!widgetElement) {
                        console.error('Widget element not found');
                    }
                    widgetElement.widget = widget;
                }

                this.activeContainer.appendChild(widget.view);

                this.activeWidget = widget;
            };

            WidgetDropzone.prototype.hasActive = function () {
                return this.activeContainer.children.length > 0;
            };

            WidgetDropzone.prototype.removeActive = function () {
                this.activeContainer.removeChild(this.activeContainer.children[0]);
                var returnValue = this.activeWidget;
                this.activeWidget = null;
                return returnValue;
            };


            WidgetDropzone.prototype.removeFloating = function (widget) {
                for (var i = 0; i < this.floatingContainer.children.length; i++) {
                    var child = this.floatingContainer.children[i];
                    if (child.getAttribute('id') == 'widgetContainer_' + widget.id) {
                        this.floatingContainer.removeChild(child);
                    }
                }
            };

            WidgetDropzone.prototype.activeToFloat = function () {
                this.activeWidget = null;
                var child = this.activeContainer.children[0];
                var view = this.activeContainer.removeChild(child);
                this.floatingContainer.appendChild(view);
            };


            function DropzoneManager(dropzones, widgets) {
                this.dropzones = dropzones || [];
                this.widgets = widgets || [];
                this.widgetsToDisplay = 0;
            }

            DropzoneManager.prototype.setWidgetsToDisplay = function (widgetsToDisplay) {
                var oldVal = this.widgetsToDisplay;
                var newVal = widgetsToDisplay;
                this.widgetsToDisplay = widgetsToDisplay;

                var a, b;
                var isRemove = oldVal > newVal;
                if (isRemove) {
                    a = newVal;
                    b = oldVal;
                } else {
                    a = oldVal;
                    b = newVal;
                }

                for (var i = a; i < b; i++) {
                    var dropzone = this.dropzones[i];
                    if (isRemove) {
                        dropzone.removeActive();
                        dropzone.hide();
                    } else {
                        var widget = this.widgets[i];
                        dropzone.addActive(widget);
                        dropzone.show();
                    }
                }

                // adjust the width of the widget
//                        if (widget.width > 1) {
//                            // widget may be max. 50% of width
//                            var widgetWidth = widget.width > 5 ? 5 : widget.width;
//                            targetView.style.flexBasis = (10 * widgetWidth) + '%';
//                        }
            };

            DropzoneManager.prototype.undock = function (dropzonePosition) {
                console.log('undock at position ' + dropzonePosition);
                var dropzone = this.getDropzone(dropzonePosition);
                dropzone.activeToFloat();

                for (var pos = dropzonePosition; pos < this.dropzones.length; pos++) {
                    console.log('undock move ' + pos + ' to ' + (pos + 1));
                    var right = this.getDropzone(pos + 1);
                    var left = this.getDropzone(pos);

                    if (right.hasActive()) {
                        var removedWidget = right.removeActive();
                        left.addActive(removedWidget);
                    }
                }

            };

            DropzoneManager.prototype.dock = function (dropzonePosition, widget) {
                console.log('dock ' + widget.id);
                var dropzone = this.getDropzone(dropzonePosition);
                console.dir(widget);
                if (dropzone.hasActive() && dropzone.activeWidget.id != widget.id) {
                    for (var pos = this.dropzones.length - 1; pos >= dropzonePosition; pos--) {
                        console.log('dock move ' + pos + ' to ' + (pos + 1));

                        var right = this.getDropzone(pos + 1);
                        var left = this.getDropzone(pos);

                        if (right.hasActive()) {
                            console.log('remove right active');
                            right.removeActive();
                        }
                        if (left.hasActive()) {
                            console.log('move left to right');
                            var removedWidget = left.removeActive();
                            right.addActive(removedWidget);
                        }
                    }
                }
                this.removeFloating(widget);
                dropzone.addActive(widget);

            };

            DropzoneManager.prototype.removeFloating = function (widget) {
                this.dropzones.forEach(function (dropzone) {
                    dropzone.removeFloating(widget);
                }, this);
            };

            DropzoneManager.prototype.getDropzone = function (position) {
                for (var i = 0; i < this.dropzones.length; i++) {
                    var dropzone = this.dropzones[i];
                    if (dropzone.position == position) {
                        return dropzone;
                    }
                }
            };


            Polymer(Polymer.mixin({
                /**
                 * List of added widgets.
                 */
                widgets: [],
                /**
                 * Minimal widget size in pixel.
                 */
                minWidgetWidthInPx: 300,
                /**
                 * Number of widgets that can be comfortably displayed.
                 */
                widgetsToDisplay: 0,
                /**
                 * Maximum number of widgets that can be shown.
                 * Should match the number of dropzones in the DOM-tree.
                 */
                maxWidgetsToDisplay: 10,
                /**
                 * Called when widgetsToDispaly changes.
                 * Recalculates which widgets should be shown.
                 */
                widgetsToDisplayChanged: function (oldVal, newVal) {
                    this.dropzoneManager.setWidgetsToDisplay(newVal);
                },
                /**
                 * Calculates the number of widgets to display.
                 * Sets widgetsToDisplay variable if it has changed.
                 */
                evaluateWidgetsToDisplay: function () {
                    var availableWidgetWidth = this.$.widgets.clientWidth - this.$.menu.clientWidth;
                    var newWidgetsToDisplay = Math.floor(availableWidgetWidth / this.minWidgetWidthInPx);
                    newWidgetsToDisplay = Math.max(newWidgetsToDisplay, 1);
                    if (newWidgetsToDisplay !== this.widgetsToDisplay) {
                        this.widgetsToDisplay = newWidgetsToDisplay;
                    }
                },
                domReady: function () {

                    // dropzone callbacks
                    var onleave = function (e) {
                        console.log('left dropzone ' + e.data.position + ' with widget ' + e.draggableElement.widget);
                        this.dropzoneManager.undock(e.data.position);
                    }.bind(this);

                    var onenter = function (e) {
                        console.log('entered dropzone ' + e.data.position + ' with widget ' + e.draggableElement.widget);
                        this.dropzoneManager.dock(e.data.position, e.draggableElement.widget);
                    }.bind(this);

                    var dropzones = [];
                    for (var i = 1; i <= this.maxWidgetsToDisplay; i++) {
                        var dropzoneElement = this.$['widgetDropzone' + i];
                        var widgetDropzone = new WidgetDropzone(i, dropzoneElement);
                        dropzones.push(widgetDropzone);

                        // activate dropzone
                        this.touch.makeDropzone(dropzoneElement, {
                            accept: '.widget',
                            data: widgetDropzone,
                            onleave: onleave,
                            onenter: onenter
                        });
                    }

                    var sortedInfoViewWidgets = this.widgets.filter(function (widget) {
                        return widget.position !== 'main';
                    }).sort(function (a, b) {
                        return a.position >= b.position ? 1 : -1;
                    });

                    this.dropzoneManager = new DropzoneManager(dropzones, sortedInfoViewWidgets);


                    this.evaluateWidgetsToDisplay();
                    // add resize listener (called every time the browser window is resized)
                    window.addEventListener('resize', this.evaluateWidgetsToDisplay.bind(this));
                },
                created: function () {
                    this.widgets = [];
                },
                addWidget: function (widget) {
                    this.widgets.push(widget);

                    if (widget.position === 'main') {
                        var targetId = 'widgetDropzone' + widget.position;
                        var targetView = this.$[targetId];

                        if (targetView === null) {
                            console.error('No element with the ID ' + targetId + ' exists, cannot add widget ' + widget.id);
                            return;
                        }

                        this.setView(targetId, widget.view);
                    }
                }
            }, window.appMixin));
        })();
    </script>
</polymer-element>
